/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


footer .container .text-muted {
  margin: 20px 0;
  text-align: center;
  
}

a.navbar-brand {
  font-family: 'Pacifico', cursive;
}
.sidebar-title {
  margin: 10px;
  font-size: 30px;
  text-align: center;
}
.sidebar-content {
  font-size: 18px;
  text-align: justify;
}
.links {
  margin-top: 40px;
}
.comments {
  margin-bottom: 30px;
}