.well.sidebar-nav
  .sidebar-title About Me
  .sidebar-image 
    = image_tag("https://s-media-cache-ak0.pinimg.com/736x/1e/73/5b/1e735ba4979a8b73a1cad3ab2dfb3c1c.jpg", width: '220')
  .sidebar-content Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor.